div {
  text-align: center;
}
html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

.tac {
  text-align: center;
}

.positionab {
  position: absolute;
}
.w-52 {
  width: 13rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
img {
  max-width: 100%;
  height: auto;
}
.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0,0,0/var(--tw-bg-opacity));
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.w-full {
  width: 100%;
}
.min-h-screen {
  min-height: 100vh;
}
.flex {
  display: flex;
}
.bg-\[\#18D860\] {
  --tw-text-opacity: 1;
  color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-white {
  color: white;
}
.rounded-full {
  border-radius: 9999px;
}
button {
  cursor: pointer;
}



.App {
  color: #255255;
}


h1 {
  background-color: #282c34;
}

a {
  background-color: #282c34;
}

body {
  background-color: #282c34;
}




